---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Membership">
  <Header />
  <section class="bg-mdpva-ink px-5 pt-32 pb-20 text-mdpva-cream sm:px-8 lg:px-16">
    <h1 class="font-serif text-[clamp(32px,4vw,48px)] font-normal">Membership</h1>
    <p class="mt-4 max-w-xl text-mdpva-cream/70">This page is coming soon.</p>
  </section>
  <Footer />
</Layout>
